:root{
    --Green:hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);

    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);

    --font-family: "Inter",sans-serif;
    --font-size-md: 0.8rem;
    --font-size-lg: 1.5rem;

    --Weights-400: 400; 
    --Weights-600: 600;
    --Weights-700: 700;
}

.card{
    background-color: var(--Grey-800);
    color: var(--White);
    width: 22.12rem;
    padding: 1.5rem;
    height:32rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family);
    border-radius: 0.8rem;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    background-color: var(--Grey-900);
}

.img-container{
    object-fit: cover;
}

img{
    border-radius: 50%;
    width:5rem;
}

.header{
    line-height: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size:var(--font-size-lg);
    font-weight: var(--Weights-700);
}

h4{
    font-size: var(--font-size-md);
    color: var(--Green);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-md);
}

p{
    font-weight: var(--Weights-400);
}
button{
    padding: 10px;
    width: 270px;
    border-radius: 0.7rem;
    color: var(--White);
    background-color: var(--Grey-700);
    border: 0px;
    font-weight: var(--Weights-600);
}

button:hover{
    color: var(--Grey-900);
    background-color: var(--Green);
}

.attribution { 
    color: var(--White);
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width:370px) {
    .card{
        width: 20.12rem;
        padding: 1.5rem;
        height:32rem ;

    }
}