:root {
  --white: hsl(0, 100%, 100%);
  --grey-500: hsl(217, 12%, 63%);
  --grey-900: hsl(213, 19%, 18%);
  --grey-950: hsl(216, 12%, 8%);

  --orange-500: hsl(25, 97%, 53%);

  --font-family: "Overpass", sans-serif;

  --weight-400: 400;
  --weight-700: 700;

  --round:3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.card {
  margin: auto;
  max-width: 25rem;
  height: 26rem;
  border-radius: 2rem;
  padding: 2rem;
  color: white;
  font-family: var(--font-family);
  background-color: var(--grey-950);
}

.img__container {
  width: var(--round);
  border-radius: 50%;
  padding: 0.5rem;
  height: var(--round);
  background-color: var(--grey-900);
  margin-bottom: 2rem;
}

img {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  object-fit: contain;
}

.card__descrption{
    color: var(--grey-500);
    margin-top: 1rem;
}

.card__rating{
    display: flex;
    justify-content: space-between;
}
.card__rating span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--grey-500);
    font-weight: var(--weight-700);
    width: var(--round);
    height: var(--round);
    background-color: var(--grey-900);
    margin: 2rem 0rem;
}

.card__rating> span.active ~span{
    background-color: var(--orange-500);
    color: var(--grey-950);
    
}

/* .card:hover  {
  transform: rotateY( 180 deg ) ;
  transition: transform 0.5s;
} */

.card__submiit-button{
    font-family: var(--font-family);
    text-transform: uppercase;
    height: 2.5rem ;
    color: var(--grey-950);
    font-weight: var(--weight-700);
    border-radius: 2rem;
    background-color: var(--orange-500);
    border: 0px;
    width: 100%;
}



.card__thankyou-img{
    height: 10rem;
    width: 10rem;
}

.card__rating-msg{
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--grey-900);
    color: var(--orange-500);
    font-weight: var(--weight-400);
    font-size: small;
    margin-bottom: 2rem;
}

.align{
    text-align: center;
}

.align-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}