*{
    padding: 0px;
    outline: 0px;
    margin: 0px;
}
body{
    background: #f5900c;
    background: linear-gradient(162deg, rgba(245, 144, 12, 1) 0%, rgba(255, 180, 82, 1) 52%, rgba(255, 179, 79, 1) 25%, rgba(237, 221, 83, 1) 100%);
}
.header{
    text-align: center;
    font-family: Poppins, sans-serif;
    margin: 2rem ;
    font-size: larger;
    color: #583200;
    text-shadow: 1px 1px rgb(255, 159, 32),
                 1px 2px rgb(255, 159, 32),
                 1px 3px rgb(255, 159, 32),
                 1px 4px rgb(196, 112, 2),
                 1px 5px rgb(196, 112, 2),
                 1px 6px rgb(196, 112, 2);
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-link{
    position: absolute;
    display: none;
}

.btn{
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    color: white;
    background-color: #925302;
    border: 1px white ;
}

.card img{
    width: 12rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;
    height: 15rem;
    width: 15rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgb(251, 153, 24);
}

.card:hover img{
    filter: opacity(0%); 
}


.card:hover .btn-link{
    display: block;
}

.card:hover{
    box-shadow: 10px 10px 10px 10px rgb(196, 112, 2);
}