body{
    background-color: rgb(7, 7, 7);
}

header{
    color: white;
}
.outer{
    background-color: rgb(242, 242, 242);
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
}

#count{
    font-family: "Sixtyfour Convergence", sans-serif;
    color: aliceblue;
}

h2{
    font-family: "Tiny5", sans-serif;
    font-size: 3rem;
}
.inner{
    position: absolute;
    background-color: rgb(246, 250, 191);
    width: 280px;
    height: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.char{
    width: 40px;
    position: relative;
    left: 40%;
    top:50%;
    z-index: 2;
    animation: minion;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.34, 0.79, 0.2, 1);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-play-state: paused; 
}

.tramp{
    width: 100px;
    position: relative;
    top: 69%;
    left: 13%;
    z-index: 1;
}

.spinner{
    position: absolute;
    top: 0; left: 0;
    height: 10px;
    width: 10px;
    background-color: rgb(13, 127, 227);
    animation-name: loader;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

.sun{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: -30px;
    top: -30px;
    position: absolute;
    background-color: rgb(255, 177, 61);
    box-shadow: 10px 10px 10px 10px #fbef83;
}

.grass{
    width: 100%;
    height: 25px;
    background-color: greenyellow;
    position: absolute;
    bottom: 0px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.pause-btn{
    display: none;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    font-size: x-large;
}

.start-btn{
    display: block;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    font-size: x-large;
}

button:first-child{
    background-color: rgb(73, 73, 255);
    color: white;
    border-radius: 50%;
    border: 0px;
}

button:last-child{
    background-color: rgb(255, 73, 73);
    color: white;
    border-radius: 50%;
    border: 0px;
}

@keyframes loader{
     0% {
        top: 0px; left: 0px;
    }
    25%{
        top: 0px; left: 290px;
    }
    50%{
        
        top: 290px; left:290px;
    }
    75%{
        top: 290px; left: 0px;
    }
    100%{
        top: 0px; left: 0px;
    }
}

@keyframes minion{
    0%{
        transform: translate(0px,0px);  
    }
    10%{
        transform: translate(0px,-20px);
    }
    20%{
        transform: translate(0px,0px);
    }
    30%{
        transform: translate(0px,-60px);
    }
    50%{
        transform: translate(0px,0px);
    }
    60%{
        transform: translate(0px,-30px);
    }
    70%{
        transform: translate(0px,0px);
    }
    90%{
        transform: translate(0px,-80px);
    }
    100%{
        transform: translate(0px,0px);  
    }
}